@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    /*border: 1px white solid;*/
}

body{
    font-family: 'Giants-Bold';
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("../images/배경화면-5.png");
    background-repeat : no-repeat;
    background-size : cover;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
}

.top-main {
    height: 150px;
    display: flex;
    flex-direction: column;
}




/******************************************/
.top-top {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*로고*/
#logo {
    height: 100px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo > div {
    width: 100px;
    height: 70px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: contain;
}

/* 승주 시네마 */
#cinemaName {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cinemaName > a{
    color: white;
    font-size: 55px;
    text-align: center;
    cursor: pointer;
}


/*회원가입*/
#signup {
    flex-basis: 10%;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.3s;
    border: 1px white solid;
}
#signup > a {
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
}
#signup > a:hover {
    color: black;
}
#signup:hover {
    color: black;
    background-color: white;
}



/**********************************************/



.top-bottom {
    height: 50px;
    display: flex;
    flex-direction: row;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > span{
    border-radius: 10px;
    transition-duration: 0.3s;
}
nav > span:hover{
    color: black;
    background-color: white;
}

/*상단 배너 - 영화*/
#movieSelect {
    cursor: pointer;
    flex-basis: 10%;
    text-align: center;
    border: 1px white solid;
    margin-bottom: 10px;
}

#movieSelect>a {
    color: white;
    transition-duration: 0.3s;
}

#movieSelect>a:hover{
    color: black;
}

/*상단 배너 - 예매*/
#reservation {
    cursor: pointer;
    flex-basis: 10%;
    text-align: center;
    border: 1px white solid;
    margin-bottom: 10px;
}

#reservation>a {
    color: white;
    transition-duration: 0.3s;
}

#reservation>a:hover{
    color: black;
}



/*******************************************/



.login-form {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form > div {
    height: 600px;
    width: 300px;
    border: 2px white solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form > div > div {
    flex-basis: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputId {
    font-size: 20px;
    font-family: 'Giants-Bold';
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    height: 60px;
    width: 250px;
}

#inputPw {
    font-size: 20px;
    font-family: 'Giants-Bold';
    color: white;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 10px;
    height: 60px;
    width: 250px;
}

input::placeholder {
    font-size: 15px;
    color: white;
    font-family: 'Giants-Bold';
}

#loginButton {
    font-family: 'Giants-Bold';
    height: 60px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    transition-duration: 0.3s;
}

#loginButton:hover {
    background-color: brown;
    color: white;
}

#findIdPw {
    flex-basis: 8%;
}

#findIdPw > a {
    color: white;
    font-size: 10px;
}

#signupButton:hover{
    cursor: pointer;
}

#signupButton>a {
    color: white;
}

